{% extends 'base.html.twig' %}
{% block body %}
<div class="center">
<h1>Register:</h1>
{{ form_start(form) }}
{{ form_row(form.username) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword.first) }}
{{ form_row(form.plainPassword.second) }}

  <button type="submit" class="btn btn-primary mybtn">Register!</button>
  <br>
  <p></p>
</div>
{{ form_end(form) }}
{% endblock %}