{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}


<center> 
<div class="example-wrapper">
    <h1>{{ game.getTitre()}}</h1><br>
    <h1>{{ game.getType()}}</h1><br>
    <h1>{{ game.getNbrJoueur()}}</h1><br>
    <h1>{{ game.getEditeur()}}</h1><br>
    <img src="{{ game.getImagePath()}}">

</div>
</center>

{% endblock %}
